---
import Layout from '../layouts/Layout.astro';

import Intro from '@components/Intro.astro';
import Video from '@components/Video.astro';
---

<Layout
	title='Premios ESLAND 2024'
	description='Descubre a los mejores creadores de contenido de España, Latinoamérica y Andorra. ¡Vota ´pr tus favoritos! Celebra la innovación y el talento de Twich, YouTube y más'>
	<Video />
	<Intro />
	<main></main>
</Layout>

<style></style>
