---
import Logo from '@svgs/logo.astro';
import SectionContainer from './SectionContainer.astro';

import { getI18N } from '@i18n';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<SectionContainer customClass='intro'>
	<Logo class='size-60 mb-10 m-auto animate-fade-up animate-ease-linear text-white/85' />

	<div class='intro__content'>
		<h1 class='intro__content--title'>
			{i18n.INTRO_SECTION.title}<br />
			{i18n.INTRO_SECTION.title_after_br}
			<span class='text-transparent gradient font-bold animate-gradient'>{i18n.INTRO_SECTION.title_colorizer}</span>
		</h1>

		{i18n.INTRO_SECTION.descriptions.map((par) => <p set:html={par} />)}
	</div>
</SectionContainer>
