---
import { CountUp } from './CountUp';
import SectionContainer from './SectionContainer.astro';
---

<SectionContainer>
	<h2 class='number__title'>
		Los <span class="text-transparent gradient font-black animate-gradient'">ESLAND</span> en números
	</h2>

	<div class='number__list'>
		<div class='number__item'>
			<p class='number__item--count'><CountUp client:visible initial={0} final={227} /></p>
			<h3 class='number__item--title'>noticias en prensa</h3>
		</div>

		<div class='number__item'>
			<p class='number__item--count'><CountUp client:visible initial={0} final={69.9} decimals={1} />M</p>
			<h3 class='number__item--title'>de visualizaciones</h3>
		</div>

		<div class='number__item'>
			<p class='number__item--count'><CountUp client:visible initial={0} final={3.2} decimals={1} />M&euro;</p>
			<h3 class='number__item--title'>en medios ganados</h3>
		</div>
	</div>
</SectionContainer>
