---
import SectionContainer from './SectionContainer.astro';
---

<SectionContainer>
	<h3 class='uppercase mb-10 text-balance font-semibold text-center tracking-wide text-3xl lg:text-5xl'>
		Guía de la 3<sup class='normal-case -top-4 text-sm
		lg:-top-6 lg:text-lg'>a</sup> Edición de los premios ESLAND
	</h3>

	<lite-youtube
		class='shadow-white/5 shadow-2xl rounded-xl'
		videoid='nYPVr2IYTtk'
		videotitle='Guía de la 3 edicion de los premios ESLAND'
		posterquality='maxresdefault'
		autoplay>
	</lite-youtube>
</SectionContainer>

<script>
	import '@justinribeiro/lite-youtube';
</script>
