<div class='w-full relative'>
	<img
		class='absolute top-10 z-10 w-[800px] left-0 right-0 m-auto'
		src='/esland-logo.svg'
		alt='Esland - Premios a la comunidad hispanohablante de streaming'
	/>
	<video
		class='w-full h-screen object-cover object-top animate-fade animate-ease-in-out animate-duration-[800ms]'
		src='/esland-video.webm'
		autoplay
		loop
		muted
		style='clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);'
		'></video>

	<video class='absolute
		-bottom-36
		blur-3xl
		-z-40 w-full' src='/esland-video.webm' autoplay loop muted></video>
</div>
